.doacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: space-evenly;

    h1{
        font-family: "Source Sans 3", sans-serif;
        font-size: 45px;
        color:#205691;
    }

    section{
        display: flex;
        width: 100%;
        justify-content: space-around;

        article{
            flex:1;
            display: flex;
            justify-content: space-around;


        }

        article:not(:last-child){
           border-right: 1px solid #CBCBCB;
        }       

    }
}   