.main{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.info{
    border: 2px solid blue ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
    
    h1{
        font-size: 3rem;
        color:#205691;
    }
}