.card{
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    max-width: 357px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2{
        color: #122F97;
        font-size:30px;
        font-family: "Source Sans 3", sans-serif;
        font-weight: bold;
    }

    p{
        font-family: 'Inter', sans-serif;
        text-align: center;
        color:#122F97;
        font-weight: 400;
    }

    button{
        border:none;
        background-color: #205691;
        color:#fff;
        width: 210px;
        height: 50px;
        font-size: 22px;
        border-radius: 10px;
        font-weight: 600;
        font-family: "Source Sans 3", sans-serif;
        cursor: pointer;
    }
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .card{
        
        h2{
            font-size: 24px;
        }

}
}