.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: space-evenly;

    h1{
        font-family: "Source Sans 3", sans-serif;
        font-size: 45px;
        color:#205691;
    }

    section{
        display: flex;
        width: 100%;
        justify-content: space-around;
        

        article{
            flex:1;
            display: flex;
            justify-content: space-around;
            gap: 15px;


        }

        article:not(:last-child){
           border-right: 1px solid #CBCBCB;
        }       

    }
}   


@media (max-width: 768px) {
    .main{
        h1{
            font-size: 30px;
        }
        
        section{
            flex-direction: column;
            align-items: center;

            

            article{
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }

            article:not(:last-child){
                border-right: none;
                border-bottom: 1px solid #CBCBCB;
                padding-bottom: 20px;
            } 
        }
    }
}


@media (max-width: 480px) {
    .main{
        height: auto;;
    }
}
